@model AppStore.UI.Models.ShowProductDetiels
@using AppStore.Common
<div class="direction-rtl">
    <div class="row">
        <div class="col-lg-12">
            <div class="panel panel-heading">
                <div class="panel-heading bg">
                    <div class="panel-title">
                        <div class="row">
                            <div class="col-lg-8">
                                <div class="col-lg-3">
                                    <button type="button" name="mark" class="btn bouton-image mark btn-mark"></button>
                                </div>
                            </div>
                            <div class="col-lg-3">
                                <h1 class="glyphicon  text-right text-white m-0 p-0 mt-3">برنامه</h1>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="panel-body">
                    <div class="row">
                        <div class="col-lg-8">
                            <div class="col-lg-3">
                                <button type="button" class="btn btn-install btn-block">
                                    <h3>نصب</h3>
                                </button>
                            </div>

                        </div>

                        <div class="col-lg-2">
                            <h1 class="product-name"><strong>@Model.Product.Name</strong></h1><h4><small>@Model.Product.Name</small></h4>

                        </div>
                        <div class="col-lg-2">
                            <img class="img-responsive" src="~/Content/images/iconProduct/@(Model.Product.Logo == null ? "default.png" : Model.Product.Logo.ImageName)" width="185" height="185">
                        </div>
                    </div>
                    <hr>
                    <div class="row">
                        <div class="col-lg-3">

                            <div class="testimonial w-100 h-100  p-3 text-center">
                                <button class="btn bouton-image icondownload"></button>
                                <div class="separator">&nbsp;</div>
                                <h4 class="message text-center text-gray">@Model.Counts.DownloadsCount</h4>
                            </div>
                        </div>
                        <div class="col-lg-3">

                            <div class="testimonial w-100 h-100  p-3 text-center">
                                <button class="btn bouton-image iconSize"></button>
                                <div class="separator">&nbsp;</div>
                                <h4 class="message text-center text-gray">@Model.Counts.CommentsCount</h4>
                            </div>
                        </div>
                        <div class="col-lg-3">

                            <div class="testimonial w-100 h-100  p-3 text-center">
                                <button class="btn bouton-image iconCountComment"></button>
                                <div class="separator">&nbsp;</div>
                                <h4 class="message text-center text-gray">@Model.Counts.RateCounts</h4>
                            </div>
                        </div>
                        <div class="col-lg-3">

                            <div class="testimonial w-100 h-100  p-3 text-center">
                                <button class="btn bouton-image iconShareing"></button>
                                <div class="separator">&nbsp;</div>
                                <h4 class="message text-center text-gray">شبکه های اجتماعی</h4>
                            </div>
                        </div>
                    </div>
                    <hr>
                    <div class="row">
                        <div class="col-sm-10 col-sm-offset-1" id="logout">

                            <div>

                                <div class="tab-content">
                                    <div class="tab-pane active" id="comments-logout">
                                        <ul class="media-list">
                                            <li class="media">
                                                <div class="media-body ">
                                                    <div class="well well-lg lang-bar ">
                                                        <div class="text-lg-center">
                                                            <img src="~/Content/images/Unlike.jpg" class="disabled list-inline" />
                                                            <img src="~/Content/images/Unlike.jpg" class="disabled list-inline" />
                                                            <img src="~/Content/images/Unlike.jpg" class="disabled list-inline" />
                                                            <img src="~/Content/images/like.jpg" class="disabled list-inline" />
                                                            <img src="~/Content/images/like.jpg" class="disabled list-inline" />
                                                        </div>
                                                        <p class="media-comment  text-lg-center text-capitalize">
                                                            <strong>امتیاز من به این برنامه</strong>
                                                        </p>
                                                    </div>
                                                </div>

                                            </li>
                                            @foreach (var item in Model.Comments)
                                            {
                                                string data = Helper.MeladiToShamsi(item.DateTime.ToShortDateString());
                                                <li class="media">
                                                    <a class="pull-right" href="#">
                                                        <img class="media-object img-circle" src="~/Content/images/Users/User2.jpg" alt="profile">
                                                    </a>
                                                    <div class="media-body">
                                                        <div class="well well-lg" style="position: relative">
                                                            <div class="left-corner"></div>
                                                            <div class="right-corner"></div>
                                                            <div class="text-lg-center">
                                                                @{
                                                                    int countlike = item.UserRate;
                                                                    int countUnlike = 5 - item.UserRate;
                                                                    for (int i = 0; i < countlike; i++)
                                                                    {
                                                                        <button class="btn bouton-image like  list-inline"></button>
                                                                    }

                                                                    for (int i = 0; i < countUnlike; i++)
                                                                    {

                                                                        <button class="btn bouton-image Unlike  list-inline"></button>
                                                                    }
                                                                }
                                                            </div>
                                                            <h4 class="media-heading text-uppercase reviews">
                                                                @item.User.FirstName  @item.User.LastName
                                                            </h4>
                                                            <ul class="media-date text-uppercase reviews list-inline">
                                                                <li class="dd"> @data.Substring(8, 2)</li>
                                                                <li class="mm">@data.Substring(5, 2)</li>
                                                                <li class="aaaa">@data.Substring(0, 4)</li>
                                                            </ul>


                                                            <p class="media-comment">
                                                                @item.Description
                                                            </p>

                                                            <a class="btn btn-info btn-circle text-uppercase" href="#" id="reply"><span class="glyphicon glyphicon-share-alt"></span> پاسخ</a>
                                                        </div>
                                                    </div>
                                                </li>
                                                                    }

                                        </ul>
                                    </div>


                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>



        </div>
    </div>
    <div class="row">
        <div class="col-lg-12">

            <div class="well well-lg lang-bar">

                <form class="form-horizontal" id="commentForm" role="form">


                    <div class="form-group">

                        <div class="text-lg-center">
                            <button type="button" name="userRate" class="btn bouton-image Unlike  list-inline rate"></button>
                            <button type="button" name="userRate" class="btn bouton-image Unlike  list-inline rate"></button>
                            <button type="button" name="userRate" class="btn bouton-image Unlike  list-inline rate"></button>
                            <button type="button" name="userRate" class="btn bouton-image Unlike list-inline rate"></button>
                            <button type="button" name="userRate" class="btn bouton-image Unlike list-inline rate"></button>
                            <input type="hidden" id="counterRate" value="0" />
                        </div>
                        <label><span class="text-right"> نظر</span></label>
                        <div class="col-sm-12">


                            <textarea class="form-control comment" name="addComment" id="addComment" rows="5"></textarea>
                            <label class="error text-danger" />
                        </div>

                    </div>

                    <div class="form-group">
                        <div class="col-sm-offset-2 col-sm-10">
                            <button class="btn btn-success btn-circle text-uppercase btn-comment" type="submit" id="submitComment"><span class="glyphicon glyphicon-send"></span> ارسال </button>
                        </div>
                    </div>
                </form>
            </div>

        </div>
    </div>



    <hr>


</div>



@Scripts.Render("~/bundles/jquery")

<script type="text/javascript">
    $(document).ready(function () {
        var counter = 0;
        $('body').on('click', '.btn-install', function () {
            location = '@Url.Action("Download", "UserDownloads", new { productId = Model.Product.Id })'
        });

        $('body').on('click', '.btn-comment', function (e) {
            e.preventDefault();
            var description = $('.comment').val();
            if(description == "")
            {
                $('.error').html('لطفا کامنت را پر کنید');
            }else{
                $.ajax({
                    dataType: 'json',
                    url: "/Comment/Create",
                    type:'post',
                    data: {description:description,productId:@Model.Product.Id,Rate:$("#counterRate").val()},
                    success:function(data)
                    {
                        if(data.success)
                            window.location.reload();
                        else
                            alert('لطفا مجدد تلاش کنید عملیات ناموفق است');
                    },

                });
            }
            return false;
        });
        $('body').on('click', '.rate', function () {
            if($(this).hasClass("like"))
            {
                $(this).removeClass("like").addClass("Unlike");
                $("#counterRate").val(function(i, val) { return +val-1 });
            }
            else{
                $(this).removeClass("Unlike").addClass("like");
                $("#counterRate").val(function(i, val) { return +val+1 });
            }
        });

        $('body').on('click', '.btn-mark', function (e) {
            e.preventDefault();

            $.ajax({
                dataType: 'json',
                url: "/BookMarks/Create",
                type:'post',
                data: {productId:@Model.Product.Id},
                success:function(data)
                {
                },

            });
            return false;
        });


    });
</script>
